.liveTable-container {
    width: 100%;    
    
}
#liveTable-container {
    transition: height 300ms linear;
    
}
#addNoteButton {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}
table {
    border-collapse: separate;
    border-spacing: 0 10px;
}
.border-radius-left {
    border-top-left-radius: 0.315rem;
    border-bottom-left-radius: 0.315rem;
}
.border-radius-right {
    border-top-right-radius: 0.315rem;
    border-bottom-right-radius: 0.315rem;
}
td {
    vertical-align: middle;   
}
 button {
     font-family: 'Roboto Mono', monospace !important;
     margin: 0px 2px;
 }

 #archiveTableBody > tr > td > button:nth-child(1) {
    transform: rotate(180deg);
 }